<footer id="footer">
		<div class="container">
			<section>
				<article class="col-1">
					<h3>Contact</h3>
					<ul>
						<li class="address"><a>Village & Post Jeevna<br>Muzaffarnagar</a></li>
						<li class="mail"><a>ghssjivna@gmail.com</a></li>
						<li class="phone last"><a>+919411449053</a></li>
					</ul>
				</article>
				<article class="col-2">
					<h3>Forum topics</h3>
					<ul>
						<li><a href="#">About Jeevna GHSS</a></li>
						<li><a href="#">Admissions</a></li>
						<li><a href="#">Teacher And Staff </a></li>
						<li><a href="#">Suggestions </a></li>
						<li class="last"><a href="#">Over Vision </a></li>
					</ul>
				</article>
				<article class="col-3">
					<h3>Social media</h3>
					<p>Connect with us on various social media Platforms</p>
					<ul>
						<li class="facebook"><a href="#">Facebook</a></li>
						<li class="google-plus"><a href="#">Google+</a></li>
						<li class="twitter"><a href="#">Twitter</a></li>
						<li class="pinterest"><a href="#">Pinterest</a></li>
					</ul>
				</article>
				<article class="col-4">
					<h3>Newsletter</h3>
					<p>Subscribe to our monthly newsletter For latest updated.</p>
					<form action="#">
						<input placeholder="Email address..." type="text">
						<button type="submit">Subscribe</button>
					</form>
					<ul>
						<li><a href="#"></a></li>
					</ul>
				</article>
			</section>
			<p class="copy">Copyright © 2017 Govt. Higher Sec. school Jeevna . Designed by <a href="https://www.linkedin.com/in/aditya-kumar-25126134/" title="Aditya Singh Linkedin Profile" target="_blank">Aditya Singh</a>. All rights reserved.</p><br>
			
		</div>
		<!-- / container -->
	</footer>
	<!-- / footer -->

	<div id="fancy">
		<h2>Request information</h2>
		<form action="#">
			<div class="left">
				<fieldset class="mail"><input placeholder="Email address..." type="text"></fieldset>
				<fieldset class="name"><input placeholder="Name..." type="text"></fieldset>
				<fieldset class="subject"><select><option>Choose subject...</option><option>Choose subject...</option><option>Choose subject...</option></select></fieldset>
			</div>
			<div class="right">
				<fieldset class="question"><textarea placeholder="Question..."></textarea></fieldset>
			</div>
			<div class="btn-holder">
				<button class="btn blue" type="submit">Send request</button>
				
			</div>
		</form>
	</div>
