

	
	<!-- / header -->
	
	<!-- <div class="slider">
		<ul class="bxslider ">
			<li>
				<div class="container">
					<div class="info"><br>

					<h2><span>Govt. Higher Sec. school Jeevna</span></h2>
					<br>
					<br><br>
					<br>
					<a href="/">Click here to know more</a> 
						
				</div>
				<!-- / content -->
		<!--	</li>
			<li>
				
				<div class="container ">
					<div class="info ">
						<div class="slider-image"
						<img src="assest/home_slider2.jpg" class="slider-image" />
						<h2>It’s Time to <br><span>Get back to school</span></h2>
						<a href="/">Check out our new programs</a>
					</div>
				</div>
				</div>
				<!-- / content -->
		<!-- 	</li>
			<li>
				<div class="bxslider2">
				<div class="container">
					<div class="info">
						<h2>It’s Time to <br><span>Get back to school</span></h2>
						<a href="/">Check out our new programs</a>
					</div>
				</div>
			</div> -->

	 <div class="slideshow-container">
  <div class="mySlides fade">
    <div class="numbertext">1 / 3</div>
    <img src="assets/home_slider1.jpg" style="width:100%">
    <div class="text"> </div>
  </div>

  <div class="mySlides fade">
    <div class="numbertext">2 / 3</div>
    <img src="assets/home_slider2.jpg" style="width:100%">
    <div class="text"></div>
  </div>

  <div class="mySlides fade">
    <div class="numbertext">3 / 3</div>
    <img src="assets/home_slider3.jpg" style="width:100%">
    <div class="text"></div>
  </div>

  <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
  <a class="next" onclick="plusSlides(1)">&#10095;</a>
</div>
<br>

<div style="text-align:center">
  <span class="dot" onclick="currentSlide(1)"></span>
  <span class="dot" onclick="currentSlide(2)"></span>
  <span class="dot" onclick="currentSlide(3)"></span>
</div>



 <div class="row">
  <div class="column">
    <div class="card">
      <img src="img1.jpg" alt="Jane" style="width:100%">
      <div class="container">
        <h2>Ranveer Singh</h2>
        <p class="title">Principle</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>Contact details-> 9411449053</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="img2.jpg" alt="Mike" style="width:100%">
      <div class="container">
        <h2>Mike Ross</h2>
        <p class="title">Art Director</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>example@example.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="img3.jpg" alt="John" style="width:100%">
      <div class="container">
        <h2>John Doe</h2>
        <p class="title">Designer</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>example@example.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>
</div>
				<!-- / content -->
